.home {
    .homeContent {
        background: linear-gradient(115deg, $color-1 50%, transparent 100%);
        min-height: $minHeight;
        width: 100%;
        min-height: 500px;
        border-radius: $borderRadius;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: inherit;
            background: url('../../media/computer.jpg') no-repeat center/cover;
            z-index: -1;
            filter: brightness(65%);
        }

        .content {
            position: absolute;
            top: 20%;
            left: 13%;
            font-family: $font-1;
            
            .title {
                
                h1 {
                    font-size: 5rem;
                    font-family: $font-3;
                    color: $color-5;
                    text-transform: uppercase;
                    text-shadow: 3px 6px 2px $black;
                }

                h2 {
                    width: auto;
                    font-size: 2.5rem;
                    padding: 1.5rem 0 7rem;
                    color: $color-3;
                    text-shadow: 1px 4px 1px $black;
                }    
            }

            .contentInfo {
                .info {
                    width: 235px;
                    
                    .button {
                        cursor: pointer;
                        font-size: 1.5rem;
                        background: $color-3;
                        padding: 1rem 2rem;
                        border-radius: $borderRadius;
                        box-shadow: 0 5px 1px $black;

                        &:hover {
                            background: $color-4;
                        }
                    }

                    .show {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 170%;                        
                        //background: rgba(0, 0, 0, 0.507);
                        animation: popup .3s ease forwards;
                        transform-origin: center;

                        .showContent {
                            position: relative;
                            //top: 25%;
                           // width: 100%;
                            //height: 100%;
                            margin: 0 auto;
                            color: $color-5;
                            background: $color-2;
                            border-radius: $borderRadius;
                            padding: 2rem;
                            box-shadow: 0 10px 10px $black;
                            animation: popup .6s ease forwards;
                            transform: scale(0);
                            transform-origin: center;

                            @keyframes popup {
                                to {
                                    transform: scale(1);
                                }
                            }

                            h2 {
                                font-size: 2rem;
                                text-align: center;
                                margin-bottom: 1rem;
                                color: $color-3;
                            }

                            .text {
                                text-align: justify;
                                padding-bottom: 1.5rem;
                                font-size: 1.5rem;
                            }

                            .return {
                                color: $color-1;
                                text-align: center;
                                margin: 1rem auto;
                                width: 200px;
                            }
                        }
                    }
                }

                .pdf{
                    padding-top: 4rem;
                    a {
                        font-size: 1.5rem;
                        background: $color-3;
                        padding: 1rem 2rem;
                        border-radius: $borderRadius;
                        box-shadow: 0 5px 1px $black;

                        &:hover  {
                            background: $color-4;
                            
                        }
                    }
                }
            }
            
        }
       
    }
}

@media screen and (max-width: 850px) {
    .homeContent {
        min-height: 830px !important;
        margin: 0 !important;

        .content {
            margin-left: -2.2rem !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .homeContent {
        min-height: 700px !important;
        &:after {
            background: url('../../media/computer.jpg') no-repeat 60% 50%/cover !important;
        }

        h1 {
            font-size: 2.3rem !important;
        }

        h2 {
            font-size: 1.3rem !important;
        }
        
        .contentInfo {
            .info {
                width: 82% !important;
                
                .button {
                    font-size: 1rem !important;
                    text-align: center;
                }
                
                .show {
                    width: 170% !important;
                    //height: 140px !important;
                    top: -9rem !important;
                    margin: 0 auto !important;
                    
                }
            }

            .pdf {
            
                a {
                    font-size: 1rem !important;
                }
            }
        }
    }
}