.knowledges {
    .knowledgesContent {
        min-height: $minHeight;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: grid;
        grid-template-columns: 38% 1fr 1fr;
        grid-template-rows: 70% 30%;
        grid-template-areas: 
            "L E E"
            "O O H"
        ;

        .languagesContent, .experiences, .otherSkills, .hobbies {
            background: $color-2;
            border-radius: $borderRadius;
            padding: .8rem;
        }

        h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }

        .languagesContent{
            grid-area: L;
            margin-bottom: .5rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10% 1fr 1fr;
            grid-template-areas: 
                "T"
                "L"
                "F"
            ;

            h3 {
                grid-area: T;
            }

            h4 {
                font-size: 1.1rem;
                color: $color-4;
            }

            .languages {
                grid-area: L;
                text-align: center;
            }

            .framworks {
                grid-area: F;
                text-align: center;
            }

            li {
                padding-top: 1rem;
                text-align: justify;
            }

            i {
                font-size: 1.4rem;
            }
            
            span {
                font-size: 1.1rem;
                margin-left: 1.2rem;
            }

        }
    }

    .experiences {
        grid-area: E;
        margin: 0 0 .5rem .5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 1fr 1fr;
        grid-template-areas: 
            "1"
            "2"
            "3"
            "4"
        ;

        h3 {
            grid-area: 1;
        }

        h4 {
            font-size: 1.1rem;
            color: $color-4;
            
            a{
                color: $color-4;

                &:hover{
                    color: $color-5;
                }
            }

        }

        h5 {
            color: $color-3;
            padding: .5rem 0 .5rem 1rem;
        }

        p {
            text-align: justify;
            padding: 0 1rem;
        }

        .exp1 {
            grid-area: 2;
        }

        .exp2 {
            grid-area: 3;
        }
        .exp {
            grid-area: 4;
        }
    }

    .otherSkills {
        grid-area: O;
        margin-right: .5rem;

        .list {
            display: flex;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            justify-content: space-between;
        }
        
        ul {
            height: 80%;
            display: grid;

            span {
                font-size: 1.1rem;
                margin-left: 1.2rem;
            }
        }
    }

    .hobbies {
        grid-area: H;
        padding-left: 1.5rem;

        ul {
            height: 80%;
            display: grid;

            li {
                i{
                    position: absolute;
                }

                span {
                    position: absolute;
                    transform: translateX(2.2rem);
                }
            }
        }
    }
}

@media screen and (max-width : 950px) {
    .knowledgesContent {
        h3 {
            font-size: 1.2rem !important;
        }

        .languagesContent {
            padding-top: .2rem !important;
        }

        p{
            font-size: .8rem;
        }

        .otherSkills, .hobbies {
            font-size: .8rem;
        }
    }
}

@media screen and (max-width: 850px) {
    .knowledgesContent {
        min-height: 830px !important;

        h4 {
            font-size: .9rem !important;
        }

        h5 {
            font-size: .8rem !important;
            padding: .2rem 1rem !important;
        }
    }
}

@media screen and (max-width: 500px) {

    .knowledgesContent {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 180px 180px !important;
        grid-template-areas: 
            "1"
            "2"
            "3"
            "4" !important
        ; 

        .languagesContent {
            grid-area: 1 !important;
        }

        .experiences {
            grid-area: 2 !important;
            margin-left: 0 !important;
        }

        .otherSkills {
            grid-area: 3 !important;
            margin-right: 0 !important;
            
            span {
                margin-left: .3rem !important;
                font-size: .8rem !important;
            }
        }

        .hobbies {
            grid-area: 4 !important;
            margin-top: .5rem !important;
            
            ul {
                margin-left: 2.2rem!important;
            }
        }
    }
}